{% extends "base_2.html" %}
{% load static %}
{% block head %}
{% endblock %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{#<div class="cover-container h-100">#}
{#        <div class="row d-flex justify-content-center" >#}
{#            <div class="col-6">#}
{#        <h1 class="cover-heading">Cover your page.</h1>#}
{#        <p class="lead">Cover</p>#}
{#        <a href="{#}" class="btn btn-lg btn-secondary">Learn more</a>#}
{#        </div>#}
{#        </div>#}
{#</div>#}

{% endblock %}